# This is Git's per-user configuration file.
[user]
	name = ???
	email = ???
# Please adapt and uncomment the following lines:
#	name = Jajang Maulana
#	email = jajangmaulana452@yahoo.com
[alias]
    cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 -r git branch -d"
	rb = "rebase"
	rb-ulti = "rebase --interactive --autosquash --rebase-merges"
	com = "commit"
	com-ulti = "commit --all --verbose --no-signoff --edit"
	com-ulti-for-linux = "commit --all --verbose --signoff --edit"
	fix-com = "commit --fixup"
[core]
	editor = code --wait
[filter "lfs"]
# Apa ya ini teh
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = ???
