# This is Git's per-user configuration file.
[user]
	name = ???
	email = ???
# Please adapt and uncomment the following lines:
#	name = Jajang Maulana
#	email = jajangmaulana452@yahoo.com
[alias]
    cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 -r git branch -d"
	rb = "rebase --interactive --autosquash --rebase-merges"
	com = "commit --verbose"
	fix-com = "commit --fixup --verbose"
	cekot = "checkout"
	new-branch = "checkout -b"
	list-branch = "branch -a"
	del = "branch -d" # rey. Mama.
	push-ulti = "push --all"
	push-o = "push origin"
	# Normal `pull` Ultimate
	# ----------------------
	pull-ulti = "pull --all --prune"
	# [`hub sync`](https://stackoverflow.com/a/9781639)
	# -------------------------------------------------
	# This updates all local branches that have a matching upstream branch.
	# Need `hub` binary.
	#
	#
	# sync = "!hub sync" # disabled 'cause I rather use that `hub` CLI.
	#
	#
	meg = "merge --no-ff"
	pretty-log = "log --oneline --graph --decorate"
	pretty-log-all = "log --oneline --graph --decorate --all"
	# end of aliases that are not harmful
	del-y = "branch -D" # "Fuck you." - (jealousy) Qabil
	push-force = "push --force-with-lease"
	# cmp
	# [from](https://dev.to/bivor/alias-for-git-add-commit-and-push-all-together-5ako)
	# ---
	# cmp = "!f() { git add -A && git commit -m \"$@\" && git push; }; f"
	#
	# ! bad idea tapi
	tag-it = "!f() { git tag -a \"$@\" && git push origin \"$@\"; }; f"
	# tag-it , omG, gampang jadinya
	# end of aliases that **are** harmful
[core]
	editor = code --wait
[filter "lfs"]
# Apa ya ini teh
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = ???
[push]
	# biar gampang push nya kalo belum ada di "remote"/"origin"
	autoSetupRemote = true
